services:
  db:
    image: postgres:17.5
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: superuser
      POSTGRES_PASSWORD: superuser
      POSTGRES_DB: doitnow
    volumes:
      - ./data:/var/lib/postgresql/data